body {
    margin: auto;
    width: 800px;
}

header {
    height: 100px;
    border-bottom: lightgrey solid 15px;
    
}

header > #logo1 {
    float: left;
}

header> h2{
    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    float: left;
    margin: auto;
}

header > p{
    font-size: 10px;
    float: left;
    margin:auto;
}

#socMedia{
    float: right;
}

body > main {
    display: block;

}
 
main > h1 {
    font-size: 25px;
}

main > div {
    display: inline-block;
}

#print-icon {
    float: right;
}

#choco-pizza {
    margin: auto;
    width: 800px;
}

main > p{
    text-indent: 40px;
}

#list {
    width: 320px;
}

footer {
    border-top: lightgrey solid 15px;
}

footer >p{
    float: left;
    white-space: pre-line;
} 

footer > img {
    float: left;
}